.main {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.sorpresa {
  font-family: 'Luckiest Guy', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("/images/dante.jpeg");
  background-size: 100vw 100vh;
}

.cum {
  font-size: 8rem;
}